/* ....................Media Queries....................... */
/*Media Queries*/
@media only screen and (min-width: 1400px){
}
@media only screen and (min-width: 990px) and (max-width : 1200px) {

}

@media only screen and (max-width: 989px) {
.banner-wrapper .banner-text-wrap {
    padding: 21% 30px;
}
.archive .trip-content-area .grid .col {
    width: 50%;
}
.page-template-template-destination .destination-holder .item {
    width: calc(50% - 30px);
}
.banner-wrapper .banner-text-wrap h2 {
    font-size: 54px;
    line-height: 75px;
    margin-bottom:  0;
}
.banner-text-wrap .banner-search-input {
    width: 60%;
}
.travel-listing-content-wrap {
    margin-bottom: 30px;
}
.blog-section .post-wrap {
    margin-bottom: 20px;
}
.banner-text-wrap .banner-search-input .search-form label {
    width: 100%;
}
.travel-listing-section .row {
    margin-bottom: 0;
}
.destination-cat-slider, .about-sec.text-center {
    padding: 0 15px;
}
.single-trip #primary,.single-trip #secondary{
width: 100%;
float:  none;
}
}
@media (min-width: 1200px){
}
@media (max-width: 660px){

}
@media only screen and (max-width: 767px) {
.header .nav-wrapper .navbar ul.dropdown-menu {
    position: relative !important;
    width: 100%;
    left: 0 !important;
}
.banner-text-wrap .banner-search-input {
    width: 80%;
}
.page-template-template-destination .destination-cat-sec{
      width: calc(50% - 30px);
}
    .search-form .search-submit{
        position: relative;
        float: none;
    }
    .search-form .search-field,.search-form .search-submit{
        border-radius: 0px !important;
    }
    .nav-links .nav-previous, .nav-links .nav-next{
        width: 100%;
        text-align: center;
        border: none;
        border: 1px solid #eee;
        margin-top: 10px;
    }
      .search-form .search-submit,.not-found .search-form .search-submit{
        width: 100%;
        margin-left: 0;
      }
      .widget_search .search-form label,.search-form label {
        width: 100%;
      }
      .page-not-found .search-form {
        width: 85%;
      }
      .comment-respond .comment-form input[type="submit"]{
        width: auto;
      }
      .comments-area ol.comment-list .comment-content {
          width: 100%;
          margin: 0;
      }
      .comments-area ol.comment-list ol.children {
          margin: 0;
      }

    .gallery-item{
        width: 100%;
        max-width: none;
    }
.header .nav-wrapper .navbar .navbar-header {
    z-index: 999;
    padding: 18px 10px;
    border-bottom: 1px solid #eee;
}


}
@media only screen and (min-width: 500px) and (max-width : 600px) {

}
@media only screen and (max-width: 550px) {

}
@media only screen and (max-width: 480px) {
.page-template-template-destination .destination-holder .item {
    width: 100%;
    margin-right: 30px;
}
.archive .trip-content-area .grid .col {
    width: 100%;
}
.banner-wrapper .banner-text-wrap h2 {
font-size: 42px;
    line-height: 54px;
    margin-bottom: 0;
}
.page-template-template-destination .destination-cat-sec .destination-cat-wrap{
      width: 100% !important;
      margin-right: 0 !important;
}
.banner-wrapper .banner-text-wrap {
    padding: 30% 30px;
}
}

@media only screen and (max-width : 320px) {

}
@media screen and (max-width: 600px){
    .logged-in .nav-wrapper.stick-me.sticking{
        top: 0 !important;
    }
}
